fastapi==0.115.6
uvicorn[standard]==0.34.0
sqlalchemy==2.0.36
pydantic==2.10.4
pydantic-settings==2.7.0
python-multipart==0.0.20
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.6.1
statsmodels==0.14.4
openpyxl==3.1.5
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
tensorflow==2.16.1

psycopg[binary]==3.2.3
